@page "/"
@using MudBlazor

<div class="min-h-screen flex items-center justify-center bg-white">
    <MudPaper Elevation="10" Class="w-full max-w-md shadow-lg login-card">
        <MudCard>
            <MudCardHeader>
                <MudText Typo="Typo.h4" Align="Align.Center">Login</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudForm @onsubmit="HandleSubmit">
                    <MudTextField @bind-Value="Email" Label="Email" Type="email" Required="true" FullWidth="true" Margin="Margin.Dense" />
                    <MudTextField @bind-Value="Password" Label="Password" Type="password" Required="true" FullWidth="true" Margin="Margin.Dense" />
                    <MudButton Type="Submit" Class="w-full login-button" Variant="Variant.Filled" FullWidth="true">
                        Login
                    </MudButton>
                </MudForm>
            </MudCardContent>
            <MudCardActions Class="flex flex-col text-center text-sm text-gray-600">
                <MudLink Href="#">Forgot Password?</MudLink>
                <MudText>
                    Don't have an account? <MudLink Href="#">Sign up</MudLink>
                </MudText>
            </MudCardActions>
        </MudCard>
    </MudPaper>
</div>

@code {
    private string Email { get; set; }

    private string Password { get; set; }



    private void HandleSubmit() {

        // Lógica de login aqui

        Console.WriteLine($"Login attempted with: {Email}, {Password}");

    }
}
