.min-h-screen {
    min-height: 100vh;
}

.login-card {
    padding: 20px;
    border-radius: 12px;
}

.login-button {
    background: linear-gradient(90deg, #a4e4a1, #66b567);
    color: white;
}

    .login-button:hover {
        background: linear-gradient(90deg, #66b567, #4f9053);
    }
