<div class="full-container">

    <div class="login">
        <h2 class="titulo-form">Seja bem vindo!</h2>
        <p class="descricao-form">Entre para participar da sua comunidade.</p>
        <label class="label-form" for="email">Email</label>
        <input class="input-form" type="email" name="email" id="email">
        <label class="label-form" for="password">Senha</label>
        <input class="input-form" type="password" name="password" id="password">
        <a class="esqueceu-senha">Esqueceu a senha?</a>
        <button class="button-form">Log In</button>
        <p>Não possui uma conta? <a href="">Se registre aqui</a></p>
    </div>

    <div class="signup">

    </div>
</div>
