@page "/"
@layout Layout.EmptyLayout
@inject NavigationManager Navigation

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<style type="text/css">
    .app-bar {
        display: flex;
        background-color: white;
        border-bottom-color: black;
    }

    .app-bar-text {
        font-weight: bold;
        margin-left: 5%;
        margin-right: 10%;
        color: #0A0A0A;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-right: 6px;
    }

    .login-button {
        color: white;
    }
    
    .login-button:hover {
        background-color: #b9ffa4 !important;
    }
    
    .main-container {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    
    .main-image {
        border-radius: 6px;
        width: 50%;
        height: 50vh
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 50%;
        margin-left: 1rem;
    }

    .main-text {
        font-weight: bold;
        color: #000;
        line-height: 1.2;

    }

    .highlight-text {
        font-weight: bold;
        color: #019863;
    }

    .subtext {
        margin-top: 1.5rem;
    }

    .register-button {
        margin-top: 2rem;
        width: 100%;
        background-color: #019863 !important;
    }

    .resources {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .resource-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        flex: 1 1 22%;
        margin: 10px 12px 0 0;
    }

    .title-card {
        margin-top: 0;
        font-weight: bold;
        color: #333333;
    }
    
    @@media (max-width: 1235px) and (min-width: 1000px) {
        .main-image {
            border-radius: 6px;
            width: 60%;
            height: 60vh
        }
    }
    
    @@media (max-width: 1000px) {
        .main-container {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }
        
        .main-image {
            width: 100%;
            margin-bottom: 1rem;
        }
        
        .main-content {
            width: 100%;
        }
    }

    @@media (max-width: 850px) {
        .subtext {
            margin-top: 1.5rem;
            width: 80%;
        }

        .register-button {
            margin-top: 2rem;
            width: 50%;
            background-color: #019863 !important;
        }

        .resource-card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            flex: 1 1 40%;
            margin: 10px;
        }
    }

    @@media (max-width: 505px) {
        .main-container {
            width: 100%;
        }        
        
        .main-image {
            margin-top: -39px;
            border-radius: 0;
            width: 100%;
            height: 15vh;
        }
        
        .main-text {
            font-size: 3rem;    
        }
        
        .main-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 44px;
        }

        .subtext {
            margin-top: 1.5rem;
        }

        .register-button {
            margin-top: 2rem;
            width: 100%;
            background-color: #019863 !important;
        }

        .resources {
            margin: 1rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .resource-card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            flex: 1 1 70%;
            margin: 10px;
        }
    }
</style>

<PageTitle>Condolife</PageTitle>

<MudGrid>
    <MudItem Class="mb-8 border-1" Style="border-color: rgba(189,186,186,0.29)" xs="12">
        <MudToolBar Elevation="0" Class="app-bar" >
            <MudText Typo="Typo.h5"
                     Align="Align.Center"
                     Class="app-bar-text">
                <img src="/logo-condolife.png" class="logo" alt="Alternate Text" />
                Condolife
            </MudText>
            <MudSpacer />
            <MudButton Variant="Variant.Filled"
                       Style="background-color: #019863 !important;"
                       IconColor="Color.Surface"
                       EndIcon="@Icons.Material.Rounded.Login"
                       OnClick="NavigateToLogin"
                       Class="login-button">
                Entrar
            </MudButton>
        </MudToolBar>
    </MudItem>
</MudGrid>

<div class="main-container">
    <MudImage Src="/main1.jpg" Style="" Class="main-image me-5"></MudImage>
    <div class="main-content">
        <MudText Class="main-text" Typo="Typo.h2" Style="color: #333333; width: 100%">
            Faça parte da sua <span class="highlight-text">Comunidade!</span>
        </MudText>
        <MudText Class="subtext"
                 Typo="Typo.h6"
                 Style="width: 100%">
            Te ajudamos a simplificar a vida no condomínio, conectando você ao que realmente importa.
        </MudText>
        <MudButton Class="register-button"
                   Style="border-radius: 20px;"
                   Size="Size.Large"
                   Variant="Variant.Filled"
                   Color="Color.Success"
                   OnClick="NavigateToRegister">
            Registre-se agora
        </MudButton>
    </div>
</div>


<div class="d-flex flex-column align-items-start w-75 mx-auto mt-12 mb-6">
    <MudText Typo="Typo.h3" Class="fw-bold">
        Soluções para cada necessidade
    </MudText>
    <MudText Typo="Typo.subtitle1" Class="mt-4">
        Descubra como o Condolife pode transformar a gestão do seu condomínio.
    </MudText>
    <div class="resources">
        <MudCard Class="resource-card border-1" Style="border-color: rgba(158,139,139,0.29)" Elevation="0">
            <MudCardHeader Class="w-100 d-flex flex-row justify-content-start">
                <MudImage Src="/post.gif" Style="width: 60px; height: 60px"></MudImage>
            </MudCardHeader>
            <MudCardContent Class="py-0 mb-3">
                <MudText Typo="Typo.subtitle1" Class="title-card">
                    Veja os conteúdos do seu condomínio
                </MudText>
                <MudText Typo="Typo.body2" Style="color: #33cccc">
                    Acesso fácil às informações e documentos importantes.
                </MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Class="resource-card border-1" Style="border-color: rgba(158,139,139,0.29)" Elevation="0">
            <MudCardHeader Class="w-100 d-flex flex-row justify-content-start">
                <MudImage Src="/receipt.gif" Style="width: 60px; height: 60px"></MudImage>
            </MudCardHeader>
            <MudCardContent Class="py-0 mb-3">
                <MudText Typo="Typo.subtitle1" Class="title-card">
                    Gerencie e pague seus boletos
                </MudText>
                <MudText Typo="Typo.body2" Style="color: #33cccc">
                    Pagamentos simples e seguros em poucos cliques.
                </MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Class="resource-card border-1" Style="border-color: rgba(158,139,139,0.29)" Elevation="0">
            <MudCardHeader Class="w-100 d-flex flex-row justify-content-start">
                <MudImage Src="/voting.gif" Style="width: 60px; height: 60px"></MudImage>
            </MudCardHeader>
            <MudCardContent Class="py-0 mb-3">
                <MudText Typo="Typo.subtitle1" Class="title-card">
                    Participe das votações rapidamente
                </MudText>
                <MudText Typo="Typo.body2" Style="color: #33cccc">
                    Vote nas questões do seu condomínio de qualquer lugar.
                </MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Class="resource-card border-1" Style="border-color: rgba(158,139,139,0.29)" Elevation="0">
            <MudCardHeader Class="w-100 d-flex flex-row justify-content-start">
                <MudImage Src="/upcoming.gif" Style="width: 60px; height: 60px"></MudImage>
            </MudCardHeader>
            <MudCardContent Class="py-0 mb-3">
                <MudText Typo="Typo.subtitle1" Class="title-card">
                    Reserve espaços e serviços
                </MudText>
                <MudText Typo="Typo.body2" Style="color: #33cccc">
                    Agendamento online de áreas comuns e serviços disponíveis.
                </MudText>
            </MudCardContent>
        </MudCard>
    </div>
</div>


@code {
    void NavigateToLogin() {
        Navigation.NavigateTo("login");
    }

    void NavigateToRegister() {
        Navigation.NavigateTo("register");
    }
}
