@page "/"
@layout Layout.EmptyLayout
@inject NavigationManager Navigation

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<style type="text/css">
    .title {
        font-weight: 300;
    }

    .app-bar {
        display: flex;
        background-color: white;
        border-bottom-color: black;
    }

    .app-bar-text {
        font-weight: bold;
        margin-left: 5%;
        margin-right: 10%;
        color: #0A0A0A;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-right: 6px;
    }
    .login-button:hover {
        background-color: #b9ffa4 !important;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-text {
        font-size: 2.5em;
        font-weight: normal;
        color: #000;
        line-height: 1.2;

    }

    .highlight-text {
        color: #72BF78;
    }

    .subtext {
        margin-top: 1.5rem;
    }

    .register-button {
        margin-top: 2rem;
        width: 20%;
        background-color: #00a82d !important;
    }

    .resources {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .resource-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        flex: 1 1 22%;
        margin: 10px;
    }

    .title-card {
        margin-top: 0;
        font-weight: bold;
        color: #333333;
    }

    @@media (max-width: 850px) {
        .subtext {
            margin-top: 1.5rem;
            width: 80%;
        }

        .register-button {
            margin-top: 2rem;
            width: 50%;
            background-color: #00a82d !important;
        }

        .resource-card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            flex: 1 1 40%;
            margin: 10px;
        }
    }

    @@media (max-width: 500px) {
        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: -2rem 2rem 0 2rem;
        }

        .subtext {
            margin-top: 1.5rem;
        }

        .register-button {
            margin-top: 2rem;
            width: 70%;
            background-color: #00a82d !important;
        }

        .resources {
            margin: 3rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .resource-card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            flex: 1 1 70%;
            margin: 10px;
        }
    }
</style>

<PageTitle>Condolife</PageTitle>

<MudGrid>
    <MudItem Class="mb-20" xs="12">
        <MudToolBar Elevation="0" Class="app-bar" >
            <MudText Typo="Typo.h5"
                     Align="Align.Center"
                     Class="app-bar-text">
                <img src="/logo-condolife.png" class="logo" alt="Alternate Text" />
                Condolife
            </MudText>
            <MudSpacer />
            <MudButton Variant="Variant.Outlined"
                       Color="Color.Dark"
                       IconColor="Color.Dark"
                       EndIcon="@Icons.Material.Rounded.Login"
                       OnClick="NavigateToLogin"
                       Class="login-button">
                Entrar
            </MudButton>
        </MudToolBar>
    </MudItem>
</MudGrid>

<div class="main-content">
    <MudText Class="main-text" Typo="Typo.h3" Style="color: #333333">
        Faça parte da sua <span class="highlight-text">Comunidade!</span>
    </MudText>
    <MudText Class="subtext" 
             Typo="Typo.h6">
        Te ajudamos a simplificar a vida no condomínio, conectando você ao que realmente importa.
    </MudText>
    <MudButton Class="register-button"
               Size="Size.Large"
               Variant="Variant.Filled"
               Color="Color.Success"
                OnClick="NavigateToRegister">
        Registre-se agora
    </MudButton>
</div>

<div class="resources">
    <MudCard Class="resource-card" Elevation="0">
        <MudCardMedia Image="/post.gif" Height="200" Style="width: 50%;"></MudCardMedia>
        <MudCardContent Class="py-0">
            <MudText Typo="Typo.body1" Class="title-card">
                Veja os conteúdos do seu condomínio
            </MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Class="resource-card" Elevation="0">
        <MudCardMedia Image="/receipt.gif" Height="200" Style="width: 50%;"></MudCardMedia>
        <MudCardContent Class="py-0">
            <MudText Typo="Typo.body1" Class="title-card">
                Gerencie e pague seus boletos
            </MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Class="resource-card" Elevation="0">
        <MudCardMedia Image="/voting.gif" Height="200" Style="width: 50%;"></MudCardMedia>
        <MudCardContent Class="py-0">
            <MudText Typo="Typo.body1" Class="title-card">
                Participe das votações rapidamente
            </MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Class="resource-card" Elevation="0">
        <MudCardMedia Image="/upcoming.gif" Height="200" Style="width: 50%;"></MudCardMedia>
        <MudCardContent Class="py-0">
            <MudText Typo="Typo.body1" Class="title-card">
                Reserve espaços e serviços com facilidade
            </MudText>
        </MudCardContent>
    </MudCard>
</div>

@code {
    void NavigateToLogin() {
        Navigation.NavigateTo("login");
    }

    void NavigateToRegister() {
        Navigation.NavigateTo("register");
    }
}
